html {
	margin: 0;
	padding: 0;
	height: 100%;
 	background: #f3f3f3; 
}

body{
	margin: 0;
	padding: 0;
	height: 100%;
	background: #60a3bc !important;
	overfolow:hidden;
}

#footer{
	background: #ffffff;
}

.user_card {
	height: 457px;
	width: 350px;
	margin-top: 86px;
	margin-bottom: auto;
	background: #f3f3f3;
	position: relative;
	display: flex;
	justify-content: center;
	flex-direction: column;
	padding: 10px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	-webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	-moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border-radius: 5px;
}
.brand_logo_container {
	position: absolute;
	height: 170px;
	width: 170px;
	top: -75px;
	border-radius: 50%;
	background: #60a3bc;
	padding: 10px;
	text-align: center;
}
.brand_logo {
	height: 150px;
	width: 150px;
	border-radius: 50%;
	border: 2px solid white;
}
.form_container {
	margin-top: 74px;
}
.login_btn {
	width: 100%;
	background: #00b306 !important;
	color: white !important;
}
.login_btn:focus {
	box-shadow: none !important;
	outline: 0px !important;
}
.login_container {
	padding: 0 2rem;
}
.input-group-text {
	background: #4f6cd6 !important;
	color: white !important;
	border: 0 !important;
	border-radius: 0.25rem 0 0 0.25rem !important;
}
.input_user,
.input_pass:focus {
	box-shadow: none !important;
	outline: 0px !important;
}
.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
	background-color: #49c02b !important;
}
form#register_form input {
	width: 250px;
}
form#register_form {
    margin-top: 0px;
}
.d-flex.justify-content-center.links {
    margin-top: -15px;
}
/* <<<<<<< HEAD */

div#toast-container {
    height: 100%;
    align-items: center;
}
/* .toast {
    position: absolute !important;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
} */

toast-message{
	z-index: -1;
}
#ok_register{
		display: table;
	    margin: 0 auto;
}

/* #toast-container > div{
	opacity: 1;
} */
/* ======= */
@media screen and (max-width: 768px) {
  footer#footer img{
  	display:none;
  }
  footer#footer p{
  	text-align:center;
  }
}
@media screen and (max-width: 768px) {
  footer#footer img{
  	display:none;
  }
  footer#footer p{
  	text-align:center;
  }
}
.firstnamecss{
	width: 160px !important;
    display: inline-block !important;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    float: left;
}
.lastnamecss{
	width: 90px !important;
    display: inline-block !important;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    float: left;
    border-left: 0;
}
footer#footer {
    /* position: absolute; */
    bottom: 0;
}
.container {
    min-height: calc(100vh - 52px) !important;
}
/* 
>>>>>>> 22f24fccf53bbe4ac14861312c9b712ce9d76c69 */
